{# This is a template #}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Racism Special Issue</title>
    <link rel="stylesheet" href="css/base.scss" type="text/css" charset="utf-8">
    <script src="js/index.js" charset="utf-8"></script>
    {% if env == "production" %}
    {% if config.ga_id %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168080597-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ config.ga_id }}');
    </script>
    {% endif %}
    {% endif %}
</head>

<body>
    <header>
        <a href="https://michigandaily.com">
            <img class="header__logo" src="./assets/logo.png" alt="The Michigan Daily" />
        </a>
    </header>
    <article class="">
        <section class="intro">
            <img class="cover" src="./assets/preambleImg.jpg" alt="">
            <div class="introTitle">
                <h1>{{ intro.title }}</h1>
                <h2>{{ intro.subtitle }}</h2>
            </div>
            <div class="preamble">
                <p>
                    {{ intro.preamble }}
                </p>
            </div>
        </section>
        
        <section class="education">
            <img class="cover" id="educationCover" src="./assets/red.jpg" alt="">
            <div class="sectionTitle">
                <h2>{{ education.section }}</h2>
            </div>
        </section>

        <section class="protests">
            <img class="cover" src="./assets/protests_cover.jpg" alt="">
            <div class="sectionTitle">
                <h2>{{ protests.section }}</h2>
            </div>
            {% for art in protests.articles %}
            <div class="card-container">
                <div class="card">
                    <div class="card__quote">
                        {{ art.quote }}
                    </div>
                    <h3 class="card__title">
                        <a href="#">{{ art.title }}</a>
                    </h3>
                    <div class="card__by">
                        {{ art.author }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </section>
    </article>
</body>

</html>
