{# This is a template #}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Miseducation</title>
    <link rel="stylesheet" href="css/base.scss" type="text/css" charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="./assets/favicon.png"/>
    <script src="js/index.js" charset="utf-8"></script>
    {% if env == "production" %}
    {% if config.ga_id %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168080597-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ config.ga_id }}');
    </script>
    {% endif %}
    {% endif %}
    <base target="_blank">
</head>

<body>
    <header>
        <a href="https://michigandaily.com">
            <img class="header__logo" src="./assets/logo.png" alt="The Michigan Daily" />
        </a>
    </header>
    <article class="">
        <section class="intro">
            <img class="cover" src="./assets/preambleImg.jpg" alt="">
            <div class="introTitle">
                <h1>{{ intro.title }}</h1>
                <h2>{{ intro.subtitle }}</h2>
            </div>
            <div class="preamble">
                <p>
                    {{ intro.preamble }}
                </p>
            </div>
        </section>
        
        <section class="education">
            <img class="cover" id="educationCover" src="./assets/red.jpg" alt="">
            <div class="sectionTitle">
                <h2>{{ education.section }}</h2>
            </div>
        </section>

        <section class="protests">
            <img class="cover" src="./assets/protests_cover.jpg" alt="">
            <div class="sectionTitle">
                <h2>{{ protests.section }}</h2>
            </div>
            {% for art in protests.articles %}
            <div class="card-container">
                <div class="card">
                    <div class="card__quote">
                        {{ art.quote }}
                    </div>
                    <h3 class="card__title">
                        <a href="#">{{ art.title }}</a>
                    </h3>
                    <div class="card__by">
                        {{ art.author }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </section>

        <section class="culture">
            <img class="cover" src="./assets/culture.jpg" alt="">
            <div class="sectionTitle">
                <h2>{{ culture.section }}</h2>
            </div>

            <div class="slideshow-container">

                {% for art in culture.articles %}
                <div class="mySlides fade">
                    <div class="text">
                        {{ art.title }}
                        <p class="cred">{{art.author}}</p>
                    </div>
                </div>
                {% endfor %}

                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

                <br>
                <div style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span> 
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                    <span class="dot" onclick="currentSlide(4)"></span>
                    <span class="dot" onclick="currentSlide(5)"></span>
                    <span class="dot" onclick="currentSlide(6)"></span>
                    <span class="dot" onclick="currentSlide(7)"></span>
                    <span class="dot" onclick="currentSlide(8)"></span>
                    <span class="dot" onclick="currentSlide(9)"></span>
                </div>
            </div>
        </section>

        <section class="news">
            <img class="cover" src="./assets/news.jpg" alt="">
            <div class="sectionTitle">
                <h2>News</h2>
            </div>

            <div class="articles">
                {% for art in news.articles %}
                {{art.title}}
                <p>{{art.author}}</p>
                {% endfor %}
            </div>
        </section>

    </article>
    <footer>
        <a href="https://michigandaily.com"><img src="./assets/m.jpg" width=80px></a>
        <div class="address">
            <p><b>The Michigan Daily</b></p>
            <p>420 Maynard St, Ann Arbor, MI 48109</p>
            <p>(734) 418-4115</p>
        </div>
        <div class="credits">
            <p>Developed by The Michigan Daily Data Team</p>
            <p>Designed by The Michigan Daily Design Team</p>
            <p>&nbsp;</p>
            <p>Copyright © 2020, all rights reserved.</p>
        </div>
    </footer>
</body>

</html>

<script>
    slideIndex = 1
    showSlides(slideIndex)

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }
        
    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) {slideIndex = 1}    
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";  
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";  
        dots[slideIndex-1].className += " active";
    }
</script>
